.screen-container {
    padding: $screen-top-bottom-padding $screen-side-padding;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: $mobile-width) {
        padding: $screen-top-bottom-padding-mobile $screen-side-padding-mobile;
    }
    
}
