header {
    display: flex;
    align-items: center;
    height: $header-height;
    padding: 1rem $screen-side-padding;
    background-color: $blue;
    color: $white;

    @media screen and (max-width: $mobile-width) {
        padding: 1rem $screen-side-padding-mobile;
    }

    .logo {
        font-size: 1.25rem;
    }
    
}
