header {
    display: flex;
    align-items: center;
    height: $header-height;
    padding: 1rem $screen-side-padding;
    background-color: $blue;
    color: $white;

    .logo {
        font-size: 1.25rem;
    }
}
