.input-field {
    @extend %common-shadow;
    width: 100%;
    resize: vertical;
    padding: 1rem;
    border-radius: 2rem;
    border: none;
    background-color: $white;
    height: 40px;

    &:focus {
        @extend %focus;
    }

    &::placeholder {
        color: $grey;
    }
    
}
