.info-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - $header-height - 2*$screen-top-bottom-padding);
    padding-bottom: 3rem;

    &>p {
        font-size: 2rem;
        margin-bottom: 2rem;
        text-align: center;
    }

    &>svg {
        height: 10rem;
        width: 10rem;
    }

    @media screen and (max-width: $search-container-width) {
        height: calc(100vh - $header-height - 2*$screen-top-bottom-padding-mobile);
        &>p {
            font-size: 1.75rem;
        }
    }

}
