.currency-item {
    @extend %common-shadow;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .75rem .75rem;
    border-radius: .5rem;

    &--left {
        display: flex;
        align-items: center;
        .dumb-flag {
            width: 3rem;
            height: 2rem;
            border: 2px solid $blue;
            color: $blue;
            font-weight: bold;
            border-radius: .25rem;
            display: flex;
            align-items: center;
            justify-content: center;
            &>p {
                font-size: .5rem;
            }
            &--no-image {
                border: none;
                background-color: $semi-light-grey;
                &>svg {
                    height: 1.5rem;
                    fill: $white;
                }
            }
        }
    }

    &--right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
        min-width: 8rem;
        text-align: right;
        &>b {
            margin-left: .25rem;
        }
    }

    &--no-data {
        color: $grey;
    }

    &__info {
        font-size: 1.5rem;
        @media screen and (max-width: $search-container-width) {
            font-size: 1rem;
        }
    }

    &__flag {
        height: 2rem;
        width: 3rem;
        @media screen and (max-width: $search-container-width) {
            height: 1.5rem;
            width: 2.25rem;
        }
    }

}
