$empty-space: calc((100vw - $search-container-width)/2);
%sticky-subitem {
    width: 100%;
    padding: 0 calc($empty-space + .75rem);
    @media screen and (max-width: calc($search-container-width + 2*$screen-side-padding)) {
        padding: 0 4.75rem;
    }
    @media screen and (max-width: $search-container-width) {
        padding: 0 1.75rem;
    }
}

.sticky-container {
    @extend %common-shadow;
    position: sticky;
    top: 0;
    margin: -$screen-top-bottom-padding 0 0;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;

    @media screen and (max-width: $search-container-width) {
        margin: -$screen-top-bottom-padding-mobile 0 0;
    }

    .search-input-container {
        @extend %sticky-subitem;
        height: $header-height;
        background-color: $light-grey;
        display: flex;
        align-items: center;
    }

    .items-header {
        @extend %sticky-subitem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $white;
    }

}
